*.pyc
*.idea
.*.swp
/**/stderr
/**/stdout
autom4te.cache/
/workloads/data_caching/memcached/memcached-1.4.25/build/
/workloads/low-level-aggressors/l1d
/workloads/low-level-aggressors/l1i
/workloads/low-level-aggressors/l3
/workloads/low-level-aggressors/memBench
/workloads/low-level-aggressors/memBw
/workloads/low-level-aggressors/memCap
/workloads/low-level-aggressors/memCapAlt
/workloads/low-level-aggressors/stream.100M
/build
/vendor
**/debug.test
/misc/bin/
/misc/lib/
/misc/dev/vagrant/singlenode/.bundle/
/misc/snap-on-docker/snap/snap-plugin-publisher-cassandra
/misc/snap-plugin-collector-mutilate/mutilate-src
/misc/snap-plugin-collector-mutilate/snap-plugin-collector-mutilate
/misc/snap-plugin-publisher-session-test/snap-plugin-publisher-session-test
/misc/snap-plugin-collector-session-test/snap-plugin-collector-session-test
/misc/**/*log
/integration_tests/**/*log