[submodule "workloads/deep_learning/caffe/caffe_src"]
	path = workloads/deep_learning/caffe/caffe_src
	url = https://github.com/BVLC/caffe
	ignore = dirty
[submodule "workloads/data_caching/memcached/cppzmq"]
	path = workloads/data_caching/memcached/cppzmq
	url = https://github.com/zeromq/cppzmq
[submodule "workloads/deep_learning/caffe/openblas"]
	path = workloads/deep_learning/caffe/openblas
	url = https://github.com/xianyi/OpenBLAS.git
