*.pyc
*.idea
.*.swp
/**/stderr
/**/stdout
/.vscode
.ipynb_checkpoints/
autom4te.cache/
/artifacts
/artifacts.tgz
/jupyter/data
/jupyter/integration_tests/*.stdout
*.test
/**/stderr
/**/stdout
/.vscode
autom4te.cache/
/build
/vendor
**/debug.test
/misc/bin/
/misc/lib/
/misc/dev/vagrant/singlenode/.bundle/
/misc/snap-on-docker/snap/snap-plugin-publisher-cassandra
/misc/snap-plugin-collector-mutilate/mutilate-src
/misc/snap-plugin-collector-mutilate/snap-plugin-collector-mutilate
/misc/snap-plugin-publisher-session-test/snap-plugin-publisher-session-test
/misc/snap-plugin-collector-session-test/snap-plugin-collector-session-test
/misc/snap-plugin-collector-caffe-inference/snap-plugin-collector-caffe-inference
/misc/**/*log
/integration_tests/**/*log
latest_build
artifacts.tar.gz
swan-*.tar.gz
*~
*.o
\#*
/swan.tar.gz
/opt
/jupyter/pivottablejs.html
