sudo: required
services:
- docker
language: go
sudo: required
go:
- 1.7
install:
- PATH=/usr/lib/ccache:$PATH
before_install:
- sudo apt-get install bash gcc
- make glide linter 
- pip install --upgrade pip
- make deps_jupyter
script: 
- make test_lint
- make test_unit 
- make test_integration_build 
- make build 
- make test_jupyter_lint 
- make test_jupyter_unit
notifications:
  slack:
    rooms:
      - 'intelsdi:k7XiVx2qAV7nCAMPXjRomNJ3'
    on_success: 'never'
    on_pull_requests: false
cache:
  pip: true
  ccache: true
  directories:
  - $HOME/.glide
  - $HOME/.cache/pip
  - $HOME/.ccache
