[Unit]
Description=Apache Cassandra
After=docker.service
Requires=docker.service

[Service]
Environment="CREATE_KEYSPACE=CREATE KEYSPACE IF NOT EXISTS swan WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }; \
DESCRIBE KEYSPACES;"
Environment="CREATE_TABLE=CREATE TABLE IF NOT EXISTS swan.metrics (\
    ns  text, \
    ver int, \
    host text, \
    time timestamp, \
    valtype text, \
    doubleVal double, \
    boolVal boolean, \
    strVal text, \
    tags map<text,text>, \
    PRIMARY KEY ((ns, ver, host), time) \
) WITH CLUSTERING ORDER BY (time DESC); \
DESCRIBE swan.metrics;"
TimeoutStartSec=0
Restart=always
ExecStartPre=-/usr/bin/docker rm -f cassandra-swan
ExecStartPre=/usr/bin/docker pull cassandra:3.9
ExecStart=/usr/bin/docker run \
  --name cassandra-swan \
  --net host \
  -e CASSANDRA_LISTEN_ADDRESS=127.0.0.1 \
  -e CASSANDRA_CLUSTER_NAME=cassandra-swan \
  -v /var/data/cassandra:/var/lib/cassandra \
  cassandra:3.9
ExecStartPost=/usr/bin/docker run \
  --rm \
  --net host \
  cassandra:3.9 \
  bash -c 'while ! echo "show host" | cqlsh localhost ; do sleep 1; done'
ExecStartPost=/usr/bin/docker run \
  --rm \
  --net host \
  cassandra:3.9 \
  cqlsh -e "${CREATE_KEYSPACE}" localhost
ExecStartPost=/usr/bin/docker run \
  --rm \
  --net host \
  cassandra:3.9 \
  cqlsh -e "${CREATE_TABLE}" localhost
[Install]
WantedBy=multi-user.target
